@import "../../scss/variables";

.setting-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-btn button {
    background-color: $secondary-color;
    // padding: .2rem .4rem .2rem .4rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: bolder;
    cursor: pointer;
    font-size: x-large;
    border-radius: 50%;
}

.wraper {
    margin-bottom: 5rem;
    display: grid;
    justify-content: center;
}

section {
    width: 100%;
}