@import "../../scss/variables";

.arabic {
    direction: rtl;
    @font-face {
        font-family: "Noto Naskh Arabic";
        src: url("/src/lib/NotoNaskhArabic-Medium.ttf") format("truetype");
    };
    font-family: 'Noto Naskh Arabic';
}

.chapter {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    border-bottom: 2px dashed black;
    margin-bottom: 1rem;
    max-width: 30rem;
}

.chapter .navigation {
    display: flex;
    gap: .3rem;
    justify-items: center;
    margin: .7rem 0 .7rem 0;
    justify-content: space-between;
}

.navigation button {
    padding: .2rem .5rem .2rem .5rem;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid;

    &:first-child {
        border-color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
    &:nth-child(2) {
        border-color: green;
        &:hover {
            color: green;
        }
    }
}

.navigation div {
    gap: .2rem
}

.navigation span {
    margin: auto 0 auto 0;
}

.translation {
    word-wrap: break-word;
}

.tafsir {
    padding-top: .5rem;
    margin: .5rem 0 0 0;
    border-top: 3px solid black;
    white-space: pre-wrap;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid $primary-color;
  }
  
  .dropdown-content span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content span:hover {
    background-color: $primary-color
  }
  
  .dropdown:hover .dropdown-content {
    visibility: visible;
  }