
  :root {
    --bg-body: aliceblue;
    --text-main: #000000;
    --text-feed: #000000;
    --bg-feed: aliceblue;
    --text-desc: #555555;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-body: #121212;
      --text-main: #ffffff;
      --text-feed: #ffffff;
      --bg-feed: #121212;
      --text-desc: #aaaaaa;
    }
  }

// Global color variables
$primary-color: #415edd;
$secondary-color: gainsboro;
$text-color: #222;
$danger-color: pink;

// Font family and sizes
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-unit: 10px;

$width-max: 1024px;
$width-min: 360px;

$border-radius: .2rem;
$padding-button: .3rem .8rem .3rem .8rem;