// Global color variables
$primary-color: #415edd;
$secondary-color: gainsboro;
$text-color: #222;

// Font family and sizes
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-unit: 10px;

$width-max: 1024px;
$width-min: 360px;

$border-radius: .2rem;