@import "variables";

.bottom-nav {
    display: flex;
    position: absolute;
    bottom: calc(100vh - 30rem);
    max-width: $width-max;
    min-width: $width-min;

    button {
        padding: .3rem .8rem .3rem .8rem;
        font-size: x-large;
        font-weight: bolder;
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}

@media (max-width: 500px) {
    .bottom-nav {

        bottom: 10px;
    }
 }