@import "variables";

.bottom-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-bottom: .5rem;

    button {
        padding: $padding-button;
        font-size: x-large;
        font-weight: bolder;
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}