.primary-button {
    padding: $padding-button;
    font-size: large;
    font-weight: bolder;
    background-color: $primary-color;
    color: $secondary-color;
    border-radius: $border-radius;
    cursor: pointer;
    padding: 0.5rem 0 0.5rem 0;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }
}